@import "../colors.styl"
:host
  display flex
  flex 1 1 auto
  max-height 300px
  overflow auto
.filters
  display flex
  flex-direction column
  flex 1 1 auto
  overflow auto
  .title
    background-color $accent
    color rgba(white,0.85)
    padding 10px
    flex 0 0 auto
    display flex
    font-size 0.9em
    align-items center
    justify-content center
    text-transform uppercase
    .fa
      margin-right 5px
  .wrapper
    display flex
    flex-direction column
    overflow auto
    flex 1 1 auto
  > button
    flex 0 0 auto
  .name
    flex 1 1 auto
    color: $primary
    font-size 0.9em
    text-transform uppercase
    font-weight bold
    text-align center
  button.option
    flex 0 0 auto
    border-top 1px solid rgba($black,0.2)
    display flex
    text-transform uppercase
    font-size 0.9em
    align-items center
    color rgba($black,0.7);
    >>> .mat-button-wrapper
      display flex
      flex 1 1 auto
      align-items center
.name
  flex 1 1 auto
  display flex
  text-align left
.fa
  width 14px
  flex 0 0 auto
  color: $accent
  margin-left 15px

