body{
  background-color: black;
}
:host{
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  overflow: auto;
}
h1{
  flex: 0 0 auto;
}
.mat-form-field{
  min-width: 100%;
}

